html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, em, p, font, img, small, strong, center, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:12px;vertical-align:baseline} 
ol, ul {list-style:none} :focus {outline:none; } 
table {border-collapse:collapse;border-spacing: 0} 
caption, th, td { text-align: left; font-weight: normal} 
strong {font-weight:600} 
a{font:12px Arial;text-decoration:none;color:#404040;cursor:pointer;} 
a:hover{text-decoration:underline;color:#FF3300} 
h1{font-size:16px;font-weight:600;color:#666} .left{float:left} .right{float:right} .clear{clear:both}
/*重置代码  end*/
body{font-family: arial;
	background-color: #FFFFFF;
	
	/*width: 1100px;
	margin:0 auto;	*/
	}
/*公共样式end*/
.header{
	width: 1100px;
	height: 110px;
	margin: 0 auto;
}
.header .logo{
	padding-top: 40px;	
}
.header .nav{
	float: right;
	margin-top:-48px ;
	width: 500px;
}
.header .nav a{
	float: right;
	padding-left:50px;
	
}
	
.header .nav a:hover{
	color: #f34949;text-decoration: none;
}

/*head end*/
.banner{
	background: url(../images/index-banner.jpg);
	width: 100%;
	height: 570px;
	border-bottom: #F34949 4px solid;
}
.banner .banner-txt{
	line-height: 570px;
	text-align: center;	
}
.banner .banner-intro{
	color: #FFFFFF;
	text-align: center;	
	margin-top: -230px;
}
.banner .banner-intro i{
	border-collapse: collapse;
	border-bottom: #FFFFFF 4px solid;
	/*横线*/
}
.imain-1{
	width: 1100px;
	margin:0 auto;	}
.imain-1 .themenu{
	text-align: center;
	width: 100%;
	height: 110px;
	
}
.imain-1 ul{
	height: 410px;
}
.imain-1 ul li{
	width: 50%;
	height: 96px;
	float: left;
	position: relative ;
	left:65px;
}
.imain-1 ul .tit{
	font-family:arial;
	font-size: 16px;
	color: #555555;	
}/*yi*/

.imain-1 ul .intro{
	font-family:"微软雅黑";
	font-size: 12px;
	color: #b7b7b7;
}
.imain-1 ul .fr{
	position: relative;
	margin-left:400px ;
	margin-top:-34px ;
	font-family:arial;
	font-size: 16px;
	color: #555555;	
}
.imain-1 .nav a:hover{
	color: #f34949;text-decoration: none;
}
.imain-1 .themenu-1{
	position: relative;
	text-align: center;
	margin-bottom:200px ;
}
/*imani-1  end*/

.imain-2-tit{
	/*text-transform : uppercase；/*大写*/*/
	padding-bottom: 80px;
	width: 1100px;
	margin:0 auto;
	margin-bottom: 80px;
}
.imain-2{
	width: 1100px;
	margin:0 auto;
	
}
 .imain-2-tit a{
	font-family: "微软雅黑";
	font-size:20px;
}
.imain-2 ul{
	width: 5000px;
	height: 270px;
	overflow: hidden;
}
.imain-2 ul li{
	float: left;
	margin-right:56px;
}
.imain-2 ul li .tit{
	margin-top:28px ;
	color: #555555;
}
.imain-2 ul li .price{
	margin-left:210px ;
	margin-top:-16px ;
	color: #555555;
}
.imain-2 ul li .stars{
	margin-top:12px ;
}
.zt{
	overflow: hidden;
}
.imain-3{
	
	width: 1100px;
	height: 730px;
	margin: 0 auto;
	position: relative;
	
}
.imain-3 .imain-3-tit{
	font-size: 22px;
	text-transform: uppercase;
	color: #3b3b3b;
	margin-top: 200px;
	margin-bottom: 130px;
}
.imain-3 .imgcontainer{
	width: 1100px;
	height: 384px;
	position: relative;
	display: inline;
}
.imain-3 .imgcontainer .col-1{
	width: 353px;
	height: 382px;
	float: left;
}
.imain-3 .imgcontainer .col-2{
	width: 287px;
	height: 382px;
	float: left;
}
.imain-3 .imgcontainer .col-2-2{
	margin-top: -3px;
}
.imain-3 .imgcontainer .col-3{
	width: 460px;
	height: 382px;
	float: left;
}
.footer{
	margin: 0;
	padding: 0;

	background-color:#3b3b3b;
}
.footer .col{
	width: 1100px;
	height: 320px;
	margin: 0;
	color: #ffffff;
	margin: 0 auto;
	
}
.footer .col-1{
	float: left;
	margin:100px 115px 0px 0;
	font-family:"arial Light";
	color: #aaaaaa;
	line-height: 30px;
	font-size: 16px;
}
.footer .col-1 b{
	color: #ededed;
	
}
.footer .col-2{
	float: left;
	margin:100px 115px 0px 0;
	font-family:"arial Light";
	color: #aaaaaa;
	line-height: 30px;
	font-size: 16px;
	
}
.footer .col-2 b{
	color: #ededed;}
.footer .col-3{
	
	margin:100px 115px 0px 0;
	float: left;
	width: 100px;
	
}

.footer .col-3 a{
	color: #fff;
	display: block;
	line-height: 35px;
	font-size: 16px;
}
.footer .col-3 a:hover{
	color:#f34949;
	text-decoration: none;
}
.footer .col-4{
	float: left;
}

.imain-3 .col-2{
	left: 0;
}
.footer .col-4{
	padding:84px 115px 0px 0;
}
.footer .col-4 .logo-foot{
	margin-bottom: 20px;
}
.footer .col-4 .copy{
	line-height: 30px;
	font-size: 14px;
}
/*.footer{
	overflow: hidden;
}*/
.imain-1 ul .tit{
	overflow: hidden;
}
.imain-1 ul .tit>span{
	float: left;
	margin-right:40px ;
	font-size:16px ;
}
.imain-1 ul .tit>div{
	margin-right:200px ;
}
hr{
	-webkit-margin-after:0 ;
	-webkit-margin-before:0 ;
	border: 0;
	border-bottom-color:#b7b7b7 ;
	border-bottom-style:solid;
	 border-bottom-width:1px;
	 margin-top: 8px;
}