@font-face{
	font-family: 'Aleo'; 
	src: url('fonts/aleo-regular-webfont.eot'); /* IE9+ */
	src: url('fonts/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('fonts/aleo-regular-webfont.woff') format('woff'), /* 现代浏览器 */
		 url('fonts/aleo-regular-webfont.woff2') format('woff2'),
		 url('fonts/aleo-regular-webfont.ttf') format('truetype'),/* Safari, Android, iOS */
		 url('fonts/aleo-regular-webfont.svg#aleoRegular') format('svg');/* Legacy iOS */
	font-weight: normal; 
	font-style: normal;
}
body{
	font-family: 'Aleo';
}
.footer{
	font-weight: bolder;
}
.footer .light{
	font-weight: lighter;
}
.footer .normal{
	font-weight: normal;
}